package main

import (
	"time"

	"github.com/Zettablock/zsource/dao/ethereum"
	"github.com/Zettablock/zsource/utils"
)

func HandleTransfer(log ethereum.Log, deps *utils.Deps) (bool, error) {
	deps.Logger.Info("HandleTransfer", "block number", log.BlockNumber, "pipeline_name", deps.Config.GetPipelineName())
	time.Sleep(2 * time.Second)
	return false, nil
}	
